<div class="jumbotron jumbotron-fluid" id="jumbotron">
  {{#each ganancias}}
  <h1 class="display-4" id="textojumbobruto">Ganancias Brutas: ${{gananciabruta}}</h1>
  <h1 class="display-4" id="textojumboneto">Ganancias Netas: ${{ganancianeta}}</h1>
  {{/each}}
  <p class="lead">
  </p>
  <hr class="my-4">
</div>