<div class="jumbotron jumbotron-fluid" id="jumbotron">
  {{#each ganancias}}
  <p class="display-4" id="textojumbobruto">Ganancias Brutas: ${{gananciabruta}}</p>
  <p class="display-4" id="textojumboneto">Ganancias Netas: ${{ganancianeta}}</p>
  {{/each}}
</div>