<div class="jumbotron jumbotron-fluid" id="jumbotron">
  {{#each gananciasventas}}
  <h1 class="display-4" id="textojumbobruto">Ganancias Brutas: ${{gananciabrutaventas}}</h1>
  {{/each}}
  <p class="lead">
  </p>
  <hr class="my-4">
</div>