{{>navbarfront}}
<div class="container-fluid" id="cont-landing">
    <div class="container" id="card-landing2">
    <div class="row">
        <div class="col-sm">
            <div class="card card animate__animated animate__fadeIn" id="card-landing" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title shadow-lg p-3 mb-5 bg-white rounded">Administracion</h5>
                    <p class="card-text">Los precios se actualizan cada 1 hora desde nuestro backend</p>
                    <a href="/tablaprecios" class="btn btn-secondary btn-lg active">Tabla de precios</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card animate__animated animate__fadeIn" id="card-landing" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title shadow-lg p-3 mb-5 bg-white rounded">Lista de Precios</h5>
                    <p class="card-text">La lista de precios se actualiza automaticamente cada vez que se realiza un cambio. Los precios y el stock estan actualizados ahora mismo</p>
                    <a href="/precios" class="btn btn-secondary btn-lg active">Articulos + Fotos</a>
                </div>
            </div>
        </div>
    </div>
</div>>
{{>footer2}}