<ul class="nav" id="footer-ul">
    <li class="nav-item">
        <a class="btn btn-success " data-toggle="modal" data-target="#agregar" id="botonAgregar">Agregar</a>
    </li>
    <li class="nav-item">
        <h2 class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" id="botonCrudPerrito">La Casona Grow - Administrador</h2>
    </li>
</ul>